{% if not object.isValid() %}
    {% for message in object.getMEssages() %}
        <div class="error">{{ message }}</div>
    {% endfor %}
{% endif %}
<label>
    <span class="label">{{ object.getOption('label') }}</span>
    <select name="{{ object.getName(true) }}">
        {% for value,option in object.getOption('options') %}
            <option value="{{ value }}">{{ option }}</option>
        {% endfor %}
    </select>
</label>