{% if valid == false %}
    {% for message in messages %}
        <div class="error">{{ message }}</div>
    {% endfor %}
{% endif %}
<label>
    <span class="label">{{ label }}</span>
    <select name="{{ name }}">
        {% for value,option in options %}
            <option value="{{ value }}">{{ option }}</option>
        {% endfor %}
    </select>
</label>